In [2]:
import pandas as pd
import numpy as np
import random
import string
import matplotlib.pyplot as plt

In [3]:
keywords = pd.DataFrame(np.random.randint(low=0, high=10, size=(100, 2)),
...                    columns=['Keywords', "Timestamp"])

In [4]:
keywords = keywords.sort_values(['Timestamp'], ascending=[1])
keywords.head()

    Keywords  Timestamp
49         3          0
87         3          0
76         0          0
39         0          0
22         3          0

In [5]:
df = pd.DataFrame(np.random.randint(low=0, high=10, size=(100, 10)), columns=['time.start','time.end', 'frame.start', 'frame.end', 'transcript','frames.before','frames.after','angry.change','surprise.change','happy.change'])

#If you want random keywords
#df["keywords"] = [''.join(random.choice(string.ascii_uppercase + string.digits) for _ in range(10)) for x in range(100)]

#Randomly sample from finite list of keywords
possible_keywords = ['a', 'b', 'c', 'd', 'e']
df["keywords"] = [random.choice(possible_keywords) for x in range(100)]

In [6]:
df = df.sort_values(['time.start'], ascending=[1])
df.head()

,time.start,time.end,frame.start,frame.end,transcript,frames.before,frames.after,angry.change,surprise.change,happy.change,keywords
99,0,8,2,7,8,6,6,1,5,7,b
37,0,2,3,7,3,4,0,0,3,2,a
55,0,2,9,2,1,7,8,3,3,3,d
60,0,9,6,5,8,1,4,0,6,3,c
32,0,6,7,3,0,9,6,4,8,1,b

In [32]:
df_keywords_dummies = pd.get_dummies(df)
corr_matrix = df_keywords_dummies.iloc[:,7:].corr()
corr_matrix
for x in range(0,3):
    print(np.max(corr_matrix.iloc[x,3:],axis=0))

0.0638530702555
0.105586064131
0.100110656224

,angry.change,surprise.change,happy.change,keywords_a,keywords_b,keywords_c,keywords_d,keywords_e
angry.change,1.000000,0.160299,-0.109773,0.001390,-0.084593,-0.022670,0.063853,0.033715
surprise.change,0.160299,1.000000,0.007713,-0.066842,0.068204,-0.062089,0.105586,-0.053448
happy.change,-0.109773,0.007713,1.000000,-0.034268,0.001256,0.100111,-0.084580,0.017141
keywords_a,0.001390,-0.066842,-0.034268,1.000000,-0.196818,-0.216587,-0.236067,-0.223100
keywords_b,-0.084593,0.068204,0.001256,-0.196818,1.000000,-0.241560,-0.263286,-0.248825
keywords_c,-0.022670,-0.062089,0.100111,-0.216587,-0.241560,1.000000,-0.289731,-0.273817
keywords_d,0.063853,0.105586,-0.084580,-0.236067,-0.263286,-0.289731,1.000000,-0.298444
keywords_e,0.033715,-0.053448,0.017141,-0.223100,-0.248825,-0.273817,-0.298444,1.000000

In [8]:
plt.scatter(df['Timestamp'],emotions["Happy"])

plt.ylabel('Happiness')
plt.xlabel('Timestamp')
plt.show()

KeyError: 'Timestamp'

In [98]:
for index, row in keywords.iterrows():

Keywords     U441A9JLZG
Timestamp             0
Name: 0, dtype: object
Keywords     PROB3BG08S
Timestamp             3
Name: 1, dtype: object
Keywords     0JI0VIK2ZF
Timestamp             2
Name: 2, dtype: object
Keywords     LHVSBRDSA6
Timestamp             5
Name: 3, dtype: object
Keywords     VDS7TF1L53
Timestamp             4
Name: 4, dtype: object
Keywords     9V0DGKERZO
Timestamp             1
Name: 5, dtype: object
Keywords     C6EOOYNR6D
Timestamp             4
Name: 6, dtype: object
Keywords     07BL64PU2K
Timestamp             4
Name: 7, dtype: object
Keywords     ABO8N8SH58
Timestamp             6
Name: 8, dtype: object
Keywords     DN9EANZUOV
Timestamp             8
Name: 9, dtype: object
Keywords     WS608W097B
Timestamp             9
Name: 10, dtype: object
Keywords     7E4WY6QTHD
Timestamp             2
Name: 11, dtype: object
Keywords     19GNYSLCZK
Timestamp             0
Name: 12, dtype: object
Keywords     TGJYQXVPY8
Timestamp             6
Name: 13, dtype: object
Keywords     GCFBLY3JDW
Timestamp             8
Name: 14, dtype: object
Keywords     G0ZS8UCSS8
Timestamp             6
Name: 15, dtype: object
Keywords     F0TB3Q6DEP
Timestamp             4
Name: 16, dtype: object
Keywords     W58K97TP28
Timestamp             5
Name: 17, dtype: object
Keywords     YOJZHB52PV
Timestamp             9
Name: 18, dtype: object
Keywords     T8X23WFE2F
Timestamp             8
Name: 19, dtype: object
Keywords     USXCHLU38K
Timestamp             8
Name: 20, dtype: object
Keywords     D3URJGP0ZL
Timestamp             3
Name: 21, dtype: object
Keywords     C3RJ7ENIKK
Timestamp             0
Name: 22, dtype: object
Keywords     L70QKE2YM9
Timestamp             9
Name: 23, dtype: object
Keywords     EIZ4JYILCU
Timestamp             6
Name: 24, dtype: object
Keywords     TZDOER9KN7
Timestamp             6
Name: 25, dtype: object
Keywords     L3Y7YDVXA1
Timestamp             6
Name: 26, dtype: object
Keywords     OO63MXS55P
Timestamp             9
Name: 27, dtype: object
Keywords     Y0VAD59R8G
Timestamp             0
Name: 28, dtype: object
Keywords     FJYPPCZNSA
Timestamp             1
Name: 29, dtype: object
Keywords     5UUVOY2SL9
Timestamp             4
Name: 30, dtype: object
Keywords     WMF8O1GWO4
Timestamp             5
Name: 31, dtype: object
Keywords     6ZOF4OOUZR
Timestamp             2
Name: 32, dtype: object
Keywords     AKSV0H2A8Y
Timestamp             0
Name: 33, dtype: object
Keywords     6IO4OD5YWO
Timestamp             9
Name: 34, dtype: object
Keywords     WHPTYO9SLH
Timestamp             8
Name: 35, dtype: object
Keywords     F3AQVH83A5
Timestamp             9
Name: 36, dtype: object
Keywords     7XIBX926WD
Timestamp             1
Name: 37, dtype: object
Keywords     LQZ724OX49
Timestamp             9
Name: 38, dtype: object
Keywords     2A26GASOBH
Timestamp             4
Name: 39, dtype: object
Keywords     2AEUR25G2J
Timestamp             6
Name: 40, dtype: object
Keywords     NQ65K1QP5P
Timestamp             7
Name: 41, dtype: object
Keywords     TC8VOM8806
Timestamp             8
Name: 42, dtype: object
Keywords     KWOMIQ22TO
Timestamp             3
Name: 43, dtype: object
Keywords     RMGQYOMEBH
Timestamp             2
Name: 44, dtype: object
Keywords     TLCPLGN9XH
Timestamp             8
Name: 45, dtype: object
Keywords     KOZE26VPGI
Timestamp             4
Name: 46, dtype: object
Keywords     81P4SVJPOX
Timestamp             9
Name: 47, dtype: object
Keywords     Q50CFCHPZ4
Timestamp             7
Name: 48, dtype: object
Keywords     Z8YUC4NN1E
Timestamp             1
Name: 49, dtype: object
Keywords     H8CCBYBL0E
Timestamp             0
Name: 50, dtype: object
Keywords     U08Q31WE32
Timestamp             9
Name: 51, dtype: object
Keywords     8CJXT8Q3DZ
Timestamp             1
Name: 52, dtype: object
Keywords     DK7K9X4F3Z
Timestamp             4
Name: 53, dtype: object
Keywords     4H93DX6QO1
Timestamp             2
Name: 54, dtype: object
Keywords     LWO7FHTRKC
Timestamp             5
Name: 55, dtype: object
Keywords     2WH2G4XIXW
Timestamp             6
Name: 56, dtype: object
Keywords     HDVY2JGKE8
Timestamp             3
Name: 57, dtype: object
Keywords     BNQCNLJ4S0
Timestamp             5
Name: 58, dtype: object
Keywords     FAVB51QX6J
Timestamp             6
Name: 59, dtype: object
Keywords     DBM7LDS7LZ
Timestamp             6
Name: 60, dtype: object
Keywords     66854FVLH9
Timestamp             8
Name: 61, dtype: object
Keywords     PP1FM0I103
Timestamp             4
Name: 62, dtype: object
Keywords     57OZRUBV5R
Timestamp             8
Name: 63, dtype: object
Keywords     YASCRLGWIG
Timestamp             8
Name: 64, dtype: object
Keywords     T1VQVPJR0C
Timestamp             0
Name: 65, dtype: object
Keywords     JT46PR773G
Timestamp             0
Name: 66, dtype: object
Keywords     EV9NS84X4U
Timestamp             5
Name: 67, dtype: object
Keywords     372UNMB87A
Timestamp             3
Name: 68, dtype: object
Keywords     OSWFOK4HU5
Timestamp             5
Name: 69, dtype: object
Keywords     B56ABIBAOX
Timestamp             3
Name: 70, dtype: object
Keywords     3ZJCVKU4JY
Timestamp             5
Name: 71, dtype: object
Keywords     L3R28G7WNU
Timestamp             6
Name: 72, dtype: object
Keywords     46J48LN0L3
Timestamp             6
Name: 73, dtype: object
Keywords     VOFGQVKLXI
Timestamp             7
Name: 74, dtype: object
Keywords     NK3PYVY6CI
Timestamp             0
Name: 75, dtype: object
Keywords     2NASF1EQX1
Timestamp             2
Name: 76, dtype: object
Keywords     AZMRPCVGK4
Timestamp             7
Name: 77, dtype: object
Keywords     P6S70LO3B7
Timestamp             8
Name: 78, dtype: object
Keywords     QMNRJTM3G6
Timestamp             9
Name: 79, dtype: object
Keywords     82U7NAADZ6
Timestamp             7
Name: 80, dtype: object
Keywords     GI6J1W2ZNP
Timestamp             5
Name: 81, dtype: object
Keywords     TYAYK66874
Timestamp             9
Name: 82, dtype: object
Keywords     OMCQHBK7T6
Timestamp             0
Name: 83, dtype: object
Keywords     3BDF3MFQ0U
Timestamp             6
Name: 84, dtype: object
Keywords     4YZVB1M0TB
Timestamp             7
Name: 85, dtype: object
Keywords     PCIB19V26F
Timestamp             3
Name: 86, dtype: object
Keywords     L6YSLAEZT5
Timestamp             4
Name: 87, dtype: object
Keywords     W6MXV7064O
Timestamp             3
Name: 88, dtype: object
Keywords     1368CI35DE
Timestamp             7
Name: 89, dtype: object
Keywords     KNI7HK45SF
Timestamp             2
Name: 90, dtype: object
Keywords     WZHW74XLSS
Timestamp             7
Name: 91, dtype: object
Keywords     YDZRDGPBSK
Timestamp             9
Name: 92, dtype: object
Keywords     NNJMV6SU5F
Timestamp             4
Name: 93, dtype: object
Keywords     7WI285BAJ7
Timestamp             8
Name: 94, dtype: object
Keywords     BQUPP9NI1B
Timestamp             7
Name: 95, dtype: object
Keywords     26MGJI3VN9
Timestamp             7
Name: 96, dtype: object
Keywords     ESELO1RH34
Timestamp             8
Name: 97, dtype: object
Keywords     8ITXDGED99
Timestamp             7
Name: 98, dtype: object
Keywords     LGK9CT8WDI
Timestamp             0
Name: 99, dtype: object